@font-face {
    font-family:rubik;
    src: url(../font/Rubik-Regular.ttf);
}
@font-face {
    font-family: rubikB;
    src: url(../font/Rubik-ExtraBold.ttf);
}
@font-face {
    font-family: livic;
    src: url(../font/Livvic-Regular.ttf);
}
@font-face {
    font-family: cool;
    src: url(../font/coolvetica\ rg.otf);
}
@font-face {
    font-family: britany;
    src: url(../font/BrittanySignature.ttf);
}
@font-face {
    font-family: latif;
    src: url(../font/Lateef-Regular.ttf);
}
@font-face {
    font-family: swash;
    src: url(../font/BerkshireSwash-Regular.ttf);
}
@font-face {
    font-family: back;
    src: url(../font/Back\ to\ Black\ Demo.ttf);
}
@font-face {
    font-family: cinzel;
    src: url(../font/CinzelDecorative-Regular.ttf);
}
@font-face {
    font-family: kley;
    src: url(../font/Kleymisska.ttf);
}
@font-face {
    font-family: noto;
    src: url(../font/NotoSans.ttf);
}
@font-face {
    font-family: popin;
    src: url(../font/Poppins-Regular.ttf);
}
@font-face {
    font-family: gv;
    src: url(../font/GreatVibes.otf);
}
@font-face {
    font-family: salma;
    src: url(../font/Salma.otf);
}
@font-face {
    font-family: ubuntu;
    src: url(../font/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: lato;
    src: url(../font/Lato-Regular.ttf);
}