.contentMainbar {
    width: 100%;
}

form#post {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: popin;
}

form .grid {
    width: 100%;
    margin-top: 70px;
}

form .grid > div {
    margin: auto;
    width: 80%;
    display: grid;
    padding: 5px 0;
    grid-template-columns: repeat(2, 1fr);   
}

form .grid > div:nth-child(odd) {
    background-color: whitesmoke;
}

form input, form textarea {
    padding: 5px;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}

form h3 {
    margin: 10px 0;
    font-family: rubik;
    text-align: center;
}

form .button-container {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

form .button-container button {
    width: 80%;
    cursor: pointer;
    background-color: greenyellow;
    padding: 4px 0;
    outline: none;
    border: none;
    display: inline-block;
}
