.contentMainbar {
    width: 100%;
}
.search {
    margin: 50px auto;
    width: 90%;
    display: flex;
    justify-content: end;
}
.search form {
    border-bottom: 1px solid black;
}
.search form input {
    padding: 2px;
    font-size: 15px;
    outline: none;
    font-family: rubik;
    border: none;
}
.search button {
    background-color: transparent;
    border: none;
}
.search button img {
    width: 20px;
}
.alertSuccess {
    width: 90%;
    margin: auto;
    padding: 5px;
    font-family: rubik;
    background-color: greenyellow;
    color: white;
}


table {
    width: 90%;
    margin: auto;
}
table thead {
    background-color: blue;
    font-family: rubik;
    font-weight: lighter;
    color: white;
}
table thead th {
    padding: 5px 0;
}
table tbody {
    font-family: popin;
}
table tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}
table tbody tr th {
    padding: 8px 0;
}
table tbody img {
    width: 18px;
}
table tbody .action {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
table tbody .action a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
}
table tbody .view {
    background-color: yellow;
}
table tbody .edit {
    background-color: green;
}
table tbody form {
    display: flex;
    justify-content: center;
    align-items: center;
}
table tbody button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 4px;
    outline: none;
    background-color: red;
}